table { border: 1px solid #000; border-width: 1px 0; }
td, th { padding: 0.6em 4em 0.6em 0; }
td:last-child { padding-right: 0; }
th:first-child { text-align: left; }

h1, h2, th { font-weight: normal; }
th { color: #118; }
td.no-runs { color: #aaa; }
td.zero-time { color: #c99; }

.invalid-msg { background-color: #faa; color: #300; border: 3px solid #a22; padding: 1em; margin: 1em auto; width: 50%; }
